.container {
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.money {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 6rem;
  @media (max-width: 1399px) {
    display: none;
  }
}

.money-info {
  width: 20rem;
}

.cirkel-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-money {
  margin-top: 1.5rem;
}
.container-money-info {
  display: flex;
  justify-items: start;
  width: 25rem;
}
.btn-primary {
  margin-top: 2rem;
}
