#map{

}
.container{

}
.map-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
        "googleimg media-center1"
        "googleimg media-center2";
}
.image-container{
    grid-area: googleimg;
}
.media-box{
    margin-left: 5rem;
}
.media-center1{
    grid-area: media-center1;
}
.media-center1{
    grid-area: media-center2; 
}
.madia-info{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
}
.msocial{
    display: flex;
    padding: 2.5rem;
}
.micon {
    margin-right: 1rem;
}

.msocial .micon:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .image-container {
        width: 100%; 
        max-width: 768px;
        height: 300px;
        overflow: hidden;     
    }
    .responsive-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .media-box{
        margin-left: 0;
    }
}


